<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <h1>Back to your productive life</h1>
      <p>Choose one of the options to go</p>
      <div class="data-form-wrap">
        <form action="">
          <input type="email" name="email" placeholder="bob@calnio.com" />
          <input
            type="password"
            name="password"
            placeholder="********"
            class="btm-margin"
          />
        </form>
        <div class="text-divide">
          <p>Or continue with</p>
          <hr />
        </div>
        <div class="integrations-blc">
          <div class="block-1">
            <img src="/assets/google_logo.png" alt="Google" class="img-block" />
          </div>
          <div class="block-1">
            <img src="/assets/apple_logo.png" alt="Google" class="img-block" />
          </div>
          <div class="block-1">
            <img src="/assets/github_logo.png" alt="Google" class="img-block" />
          </div>
        </div>
        <button>Sign In</button>
      </div>
    </div>
  </body>
</html>
